@import "lesshat.less";

@A11YC: 							cke_a11yc;
@A11YC_UI: 							~"@{A11YC}_ui";

@BACKGROUND_COLOR_NOTICE: 			#F1F1F1;
@BACKGROUND_COLOR_WARNING:			#FFFACD;
@BACKGROUND_COLOR_ERROR:			#FFE4E4;
@BACKGROUND_COLOR_IGNORED:			transparent;
@BACKGROUND_COLOR_FOCUSED:			#F6D9BE;

@OUTLINE_COLOR_NOTICE:				#DCDCDC;
@OUTLINE_COLOR_WARNING:				#FFE4B5;
@OUTLINE_COLOR_ERROR:				#FF9F9F;
@OUTLINE_COLOR_IGNORED:				#DCDCDC;
@OUTLINE_COLOR_FOCUSED:				#E87B23;
@OUTLINE_COLOR_IGNORED_FOCUSED:		lighten( @OUTLINE_COLOR_IGNORED, -20% );