# These files will be ignored by Git and by our linting tools:
#	grunt jshint
#	grunt jscs
#
# Be sure to append /** to folders to have everything inside them ignored.

node_modules/**
build/**
bower_components/**
skins/*/*.css
styles/contents.css
.project

# Ignore package-lock.json
# - we don't intent to force specific 3rd party dependency version via `package-lock.json` file
# Such information should be specified in the package.json file.
package-lock.json
