
.cke_editable .cke_a11ychecker_issue
{
	outline: 3px solid rgb(255, 160, 160);
	background-color: rgba( 255,0,0, 0.1 );
	font-style: italic;
}

.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_error.cke_a11y_focused,
.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_warning.cke_a11y_focused,
.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_notice.cke_a11y_focused
{
	outline-color: rgb(228, 123, 9);
	background-color: rgba(224, 136, 41, 0.3);
}

.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_notice {
	outline-color: #DCDCDC;
	background-color: #F1F1F1;
}

.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_warning {
	background-color: #FFFACD;
	outline-color: #FFE4B5;
}

.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_error {
	outline-color: rgb(255, 160, 160);
	background-color: rgba( 255,0,0, 0.1 );
}

.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_ignored {
	background-color: transparent;
	outline-style: dashed;
	outline-color: gray;
}

.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_ignored.cke_a11y_focused {
	background-color: rgba(32, 32, 32, 0.1);
	outline-style: solid;
	outline-color: gray;
}

.cke_editable.cke_loading,
.cke_editable.cke_loading a,
.cke_editable.cke_loading img,
.cke_editable.cke_editable_inline.cke_focus.cke_loading {
	cursor: wait;
}

.cke_a11ychecker_issue:hover {
	cursor: pointer;
}

.cke_a11ychecker_issue.cke_a11y_focused:hover {
	cursor: auto;
}