
.cke_editable .cke_a11ychecker_issue
{
	outline: 3px solid #FF9F9F;
	background-color: #FFE4E4;
	font-style: italic;
}

.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_error.cke_a11y_focused,
.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_warning.cke_a11y_focused,
.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_notice.cke_a11y_focused
{
	outline-color: #E87B23;
	background-color: #F6D9BE;
}

.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_notice {
	outline-color: #DCDCDC;
	background-color: #F1F1F1;
}

.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_warning {
	background-color: #FFFACD;
	outline-color: #FFE4B5;
}

.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_error {
	outline-color: #FF9F9F;
	background-color: #FFE4E4;
}

.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_ignored {
	outline: none;
	background: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKPHz/+zwjjgziysrKMYAEYB8RmROaABAAKXg+twPLtKAAAAABJRU5ErkJggg== );
}

.cke_editable .cke_a11ychecker_issue.cke_a11ychecker_ignored.cke_a11y_focused {
	background-color: transparent;
	outline-style: solid;
	outline-color: gray;
}

.cke_editable.cke_loading,
.cke_editable.cke_loading a,
.cke_editable.cke_loading img,
.cke_editable.cke_editable_inline.cke_focus.cke_loading {
	cursor: wait;
}

.cke_a11ychecker_issue:hover {
	cursor: pointer;
}

.cke_a11ychecker_issue.cke_a11y_focused:hover {
	cursor: auto;
}